<table summary = "team form fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Manager</th>
			<td><%= f.text_field(:manager) %></td>
		</tr>
		<tr>
			<th>Payroll</th>
			<td><%= f.text_field(:payroll) %></td>
		</tr>
</table>