<%= link_to("<< Back to index", {:action => 'index'}, :class => 'back-link') %> 

<div class = "edit team">
	<h2>Update Team</h2>

	<%= form_for(:team, :url => {:action => 'update', :id => @team.id}) do |t| %>
		<%= render(:partial => "form", :locals => {:f => t}) %>

		<div class = "team form buttons">
			<%= submit_tag("Update Team") %>
		</div>

	<% end %>
</div>
