<%= link_to("<< Back to index", {:action => 'index'}, :class => 'back-link') %> 

<div class = "new team">
	<h2>New Team</h2>

	<%= form_for(:team, :url => {:action => 'create'}) do |t| %>
		<%= render(:partial => "form", :locals => {:f => t}) %>

		<div class = "team form buttons">
			<%= submit_tag("Create Team") %>
		</div>

	<% end %>
</div>
