<% @page_title = "Player Menu" %>

<div class="menu">
	<h2>Player Menu</h2>
	<div class="identity">Logged in as </div>

	<ul>
		<li><%= link_to("Manage my info", :controller => 'players') %></li>
		<li><%= link_to("Logout", :action => 'logout') %></li>
	</ul>
</div>
