<table>
	<tr>
		<th>Home Team</th>
		<td><%= f.select(:home_team, @teams.map {|p| [p.name]}) %></td>
	</tr>
	<tr>
		<th>Away Team</th>
		<td><%= f.select(:away_team, @teams.map {|p| [p.name]}) %></td>
	</tr>
	<tr>
		<th>Location</th>
		<td><%= f.text_field :location %></td>
	</tr>
	<tr>
		<th>Time</th>
		<td><%= f.text_field :game_time %></td>
	</tr>
</table>