<%= link_to("<< Back to index", {:action => 'index'}, :class => 'back-link') %> 

<div class = "edit player">
	<h2>Update Player</h2>

	<%= form_for(:player, :url => {:action => 'update', :id => @player.id}) do |p| %>
		<%= render(:partial => "form", :locals => {:f => p}) %>

		<div class = "player form buttons">
			<%= submit_tag("Update Player") %>
		</div>
		
	<% end %>
</div>
