<%= link_to("<< Back to index", {:action => 'index'}, :class => 'back-link') %> 

<div class = "new player">
	<h2>Create Player</h2>

	<%= form_for(:player, :url => {:action => 'create'}) do |p| %>
		<%= render(:partial => "form", :locals => {:f => p}) %>

		<div class = "player form buttons">
			<%= submit_tag("Create Player") %>
		</div>

	<% end %>
</div>
