<h1>News</h1>



<br>

	<%= link_to new_post_path, remote: true do %>
		<button class="btn btn-default">New Post</button>
	<% end %>

<div id="post-form" style="display:none"></div>

<br>

<% if @posts.empty? %>
	There are no posts yet...
<% else %>
	<div id="post-list">
		<%= render 'index' %>
	</div>

	<div class="pages">
		<%= will_paginate @posts %>
	</div>

<% end %>